<!DOCTYPE html>
<html>
  <head>
    <title>Pre⚡entation </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <style>
      img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="prezentation"></div>

    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>